<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJZuRRM0zV-JYQmckc09gakRHcWfa4EsU</string>
	<key>GCM_SENDER_ID</key>
	<string>903937770249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uridachi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>uridachi-3b4a3</string>
	<key>STORAGE_BUCKET</key>
	<string>uridachi-3b4a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903937770249:ios:6a68d8676c7d69a99fc9d8</string>
</dict>
</plist>